{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "project": ["tsconfig.json"],
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "no-plusplus": ["error",
      {
        "allowForLoopAfterthoughts": true
      }],
      "no-use-before-define": "off",
      "@typescript-eslint/no-use-before-define": ["error",
      {
        "functions": false
      }],
    "import/extensions": "warn",
    "max-len": ["error", { "code": 120 }],
    "no-redeclare": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "prefer-const": "error"
  }
}