#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;

  scroll-behavior: smooth;
}

main {
  background: #f6f9fa;
}

footer {
  height: 20rem;
  background: #196469;
}
