#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

main {
  background: #f6f9fa;
}

footer {
  height: 20rem;
  background: #196469;
}

@media (max-width: 640px) {
  footer {
    height: auto;
  }
}
