.rating {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  text-align: center;
  justify-items: center;
  width: 120px;
  margin: 20px;
  height: 20px;
  z-index: 1;

  & input[type="radio"] {
    display: none;
  }
  label {
    display: block;
    flex: 1;
    cursor: pointer;
  }
  // https://codepen.io/jamesbarnett/pen/vlpkh
  & > input:checked ~ label,
  &:not(:checked) > label:hover,
  &:not(:checked) > label:hover ~ label,
  & > input:checked + label:hover,
  & > input:checked ~ label:hover,
  & > label:hover ~ input:checked ~ label,
  & > input:checked ~ label:hover ~ label {
    color: #ffd700;
  }
}
