.map_chart {
  height: 80.5vh;
  background-color: #2a8086;
  rect {
    fill: #2a8086 !important;
  }
  .tooltip_text {
    cursor: default;
    fill: transparent;
    z-index: -1;
  }
  .mark:hover+.tooltip_text {
    fill: rgb(180, 108, 0);
    font-weight: 700;
    z-index: 100;
  }
  mark:hover+.tooltip {

  }
}

