.map {
  width: 50%;
  height: 58rem;
  background: url('../../assets/ireland-map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-right: 8.5rem;
}
