header {
  & > .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: red;

    .logo {
      img {
        margin: 1rem auto;
      }
    }
  }

  height: 11rem;
  background-color: rgb(42, 128, 134);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  z-index: 1;

  .users-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      margin: auto 1.5rem;
    }

    .avatar {
      width: 5.6rem;
      height: 5.6rem;
      border-radius: 50%;
      background-image: url("../../assets/avatar-mock.png");
      background-size: contain;
      background-position: center;
    }

    .settings {
      cursor: pointer;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      background-size: contain;
      background-position: center;
    }
  }
}

@media (max-width: 640px) {
  header {
    height: 13rem;
  }
}

@media (max-width: 380px) {
  header {
    .link {
      margin: 0 0.5rem;
      font-size: 1.4rem;
    }
    .users-block .avatar {
      width: 4rem;
      height: 4rem;
      margin: 0 0.5rem;
    }
  }
}
