header {
  & > .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: red;

    .logo {
      img {
        margin: 1rem auto;
      }
    }
  }

  height: 11rem;
  background-color: rgb(42, 128, 134);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  z-index: 1;

  .users-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      margin: auto 1.5rem;
    }

    .avatar {
      width: 5.6rem;
      height: 5.6rem;
      border-radius: 50%;
      background-image: url("../../assets/avatar-mock.png");
      background-size: contain;
      background-position: center;
    }

    .settings {
      cursor: pointer;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      background-size: contain;
      background-position: center;
    }
  }
}

.dropdown {
  display: flex;
  height: 6.1rem;
  width: 100%;
  padding: 1rem 3.5rem;
  justify-content: space-between;
  align-items: center;

  background: #488d92;
  .country_block {
    display: flex;
    align-items: center;
    & > * {
      display: block;
    }
  }

  .current_country_image {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
  }
  .current_country_name {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #f3f7f8;
    margin-left: 1.9rem;
  }
  .arrow_toggle {
    height: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 640px) {
  header {
    height: 13rem;
  }
}

@media (max-width: 380px) {
  header {
    .link {
      margin: 0 0.5rem;
      font-size: 1.4rem;
    }
    .users-block .avatar {
      width: 4rem;
      height: 4rem;
      margin: 0 0.5rem;
    }
  }
}
