.promo {
  height: 87rem;
  background: url("../../assets/ui/promo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  color: #f3f7f8;

  & > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

  .content-block {
    width: 50%;

    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #f3f7f8;
    .title {
      margin-top: 10.3rem;
      max-width: 75rem;

      font-weight: 300;
      font-size: 7.2rem;
      line-height: 8.5rem;
    }
    .subtitle {
      font-weight: 500;
      font-size: 4.8rem;
      line-height: 5.7rem;
    }
    .content {
      font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2rem;

      margin: 5rem 0 6.7rem;
      max-width: 48rem;
    }
  }

  .image-block {
    flex-shrink: 1;
    position: relative;
    width: 80.4rem;
    height: 66.6rem;
    margin-top: 4.8rem;

    .image {
      display: block;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      width: 80.4rem;
      height: 66.6rem;
      margin: auto;

      background: url("../../assets/ui/overlay-20.png"), url("../../assets/images/Georgia.jpeg");
      background-size: cover;
      background-repeat: repeat, no-repeat;
    }

    .image-outline {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }
  }
}

.countries {
  & > .wrapper {
    margin-top: 6.5rem;
  }

  height: 130rem;
  background: url("../../assets/ui/countries-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  .btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1.4rem 2.3rem;
    margin: auto 7rem 5.6rem auto;
    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .slider {
    .slide {
      height: 72.8rem;
      &:focus {
        outline: none;
      }
    }

    .rec-arrow {
      background-color: transparent;
      border-color: #19707d;
      color: #19707d;
      &:hover:enabled {
        background-color: #19707d;
      }
    }
  }
}

@media (max-width: 1500px) {
  .promo {
    .content-block .title {
      width: 50vw;
    }
    .image-block {
      width: 50vw;
      margin-top: 11.6rem;
      .image,
      .image-outline {
        width: 45vw;
        height: unset;
        aspect-ratio: 1.1 / 1;
      }
      .image {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1300px) {
  .promo {
    height: 76rem;
    .content-block {
      .subtitle {
        font-size: 4.5rem;
      }
      .title {
        margin-top: 11.3rem;
        width: 50vw;
        font-size: 5.3rem;
        line-height: 7.5rem;
      }
    }
    .image-block {
      width: 50vw;
      // aspect-ratio: 1 / 1.05;
      height: unset;
      .image,
      .image-outline {
        height: unset;
      }
    }
  }

  .countries {
    height: 114rem;
  }
}

@media (max-width: 1024px) {
  .promo {
    height: 71.5rem;
    .content-block .title,
    .content-block .subtitle {
      font-size: 4.5rem;
    }
  }

  .countries {
    height: 106rem;
  }
}

@media (max-width: 980px) {
  .promo {
    height: 71.5rem;
    .content-block .title,
    .content-block .subtitle {
      font-size: 3.8rem;
      // width: inherit;
    }
    .content-block {
      width: 43vw;
      .title {
        margin-top: 7rem;
        width: 54vw;
      }
      .content {
        max-width: 32rem;
      }
    }
    .image-block {
      width: 53vw;
      margin-top: 12.8rem;
      .image,
      .image-outline {
        width: 52vw;
      }
    }
  }

  .countries {
    height: 106rem;
  }
}

@media (max-width: 980px) {
  .promo .content-block {
    .title {
      margin-top: 5rem;
    }
    .content {
      max-width: 27rem;
      margin-bottom: 4rem;
    }
  }

}
