iframe {
  border-radius: 2rem;
  height: 60vh;
  width: 100%;
}

.video-block {
  .container {
    display: flex;
  }
}

@media (max-width: 1280px) {
  iframe {
    height: 50vmin;
  }
}

@media (max-width: 640px) {
  .video-block {
    .container {
      flex-direction: column-reverse;
    }
  }
}
